<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/site.css">
</head>
<body>
    @RenderBody()
</body>
</html>
