USE [master]
GO
/****** Object:  Database [gunzweb]    Script Date: 23.11.2023 21.03.42 ******/
CREATE DATABASE [gunzweb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gunzweb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\gunzweb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gunzweb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\gunzweb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gunzweb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gunzweb]
GO
/****** Object:  Table [dbo].[webcontent]    Script Date: 23.11.2023 21.03.42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webcontent](
	[news] [ntext] NULL,
	[updates] [ntext] NULL,
	[download] [ntext] NULL,
	[custom] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[webcontent] SET (LOCK_ESCALATION = AUTO)
GO
USE [master]
GO
