<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net471" />
  <package id="AspNet.ScriptManager.jQuery" version="3.4.1" targetFramework="net471" />
  <package id="Azure.Core" version="1.25.0" targetFramework="net481" />
  <package id="Azure.Identity" version="1.7.0" targetFramework="net481" />
  <package id="bootstrap" version="5.2.3" targetFramework="net471" />
  <package id="cmdwtf.Toolkit.Core" version="1.0.0" targetFramework="net481" />
  <package id="cmdwtf.Toolkit.WinForms" version="1.0.0" targetFramework="net481" />
  <package id="DTIControls.dll" version="1.0.24" targetFramework="net481" />
  <package id="Elasticsearch.Net" version="7.17.5" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="EO.Web" version="23.3.60" targetFramework="net481" />
  <package id="Extended.Wpf.Toolkit" version="4.5.1" targetFramework="net471" />
  <package id="GumroadLicensing" version="1.0.3" targetFramework="net481" />
  <package id="Guna.Charts.WinForms" version="1.0.9" targetFramework="net481" />
  <package id="IppDotNetSdkForQuickBooksApiV3" version="14.6.3.6" targetFramework="net471" requireReinstallation="true" />
  <package id="jQuery" version="3.4.1" targetFramework="net471" />
  <package id="Kimtoo.BindingProvider" version="1.2.7" targetFramework="net481" />
  <package id="Kimtoo.ButtonGroup" version="1.0.1" targetFramework="net481" />
  <package id="Kimtoo.NavigationMenu" version="1.0.2" targetFramework="net481" />
  <package id="Kimtoo.Preloader" version="1.0.5" targetFramework="net481" />
  <package id="Kimtoo.Reports" version="1.0.0" targetFramework="net481" />
  <package id="Kimtoo.ThemeProvider" version="1.0.2" targetFramework="net481" />
  <package id="Kimtoo.Toolkit" version="1.1.3" targetFramework="net481" />
  <package id="Kimtoo.ValidationProvider" version="1.0.8" targetFramework="net481" />
  <package id="Lski.Toolbox" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.15.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.2.5" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Amqp" version="2.6.3" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Data.SqlClient" version="5.1.1" targetFramework="net481" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.1.0" targetFramework="net481" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net481" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="net471" />
  <package id="Microsoft.Graph.Beta" version="0.47.0-preview" targetFramework="net471" />
  <package id="Microsoft.Graph.Core" version="1.25.1" targetFramework="net471" />
  <package id="Microsoft.Identity.Client" version="4.47.2" targetFramework="net481" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.19.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.NET.StringTools" version="17.7.2" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net481" />
  <package id="Modernizr" version="2.8.3" targetFramework="net471" />
  <package id="MVC-Razor-Toolbox" version="2.5.1" targetFramework="net481" />
  <package id="NEST" version="7.17.5" targetFramework="net481" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net481" />
  <package id="Radzen.Blazor" version="4.20.1" targetFramework="net481" />
  <package id="RegexToolbox" version="2.1.0" targetFramework="net481" />
  <package id="Serilog" version="2.10.0" targetFramework="net471" />
  <package id="Serilog.Enrichers.Environment" version="2.1.3" targetFramework="net471" />
  <package id="Serilog.Enrichers.Thread" version="3.1.0" targetFramework="net471" />
  <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="net471" />
  <package id="Serilog.Settings.Configuration" version="3.1.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
  <package id="Serilog.Sinks.Debug" version="2.0.0" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net471" />
  <package id="SerilogTraceListener" version="3.2.0" targetFramework="net471" />
  <package id="ServiceStack.Client" version="6.11.0" targetFramework="net471" requireReinstallation="true" />
  <package id="ServiceStack.Interfaces" version="6.11.0" targetFramework="net471" requireReinstallation="true" />
  <package id="ServiceStack.Text" version="6.11.0" targetFramework="net471" requireReinstallation="true" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net481" />
  <package id="SuperForms" version="1.0.1" targetFramework="net481" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net481" />
  <package id="System.Console" version="4.3.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.24.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Resources.Extensions" version="5.0.0" targetFramework="net481" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.ServiceModel.Primitives" version="4.10.0" targetFramework="net471" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net471" />
  <package id="TomsToolbox.Essentials" version="2.9.0" targetFramework="net481" />
  <package id="TomsToolbox.ObservableCollections" version="2.9.0" targetFramework="net481" />
  <package id="TomsToolbox.Wpf" version="2.9.0" targetFramework="net481" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net481" />
  <package id="WebGrease" version="1.6.0" targetFramework="net471" />
  <package id="Xamarin.Forms" version="5.0.0.2612" targetFramework="net481" />
  <package id="xunit.assert" version="2.6.1" targetFramework="net481" />
</packages>