<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString2" connectionString="Dsn=GunzDB;uid=sa;pwd=Asdasd12!"
      providerName="System.Data.Odbc" />
    <add name="GunzDBConnectionString6" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString12" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString36" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Asynchronous Processing=True;Multiple Active Result Sets=True;Network Library=dbmssocn;Context Connection=False;Transparent Network IP Resolution=True"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString674" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="WebApplication12Context" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApplication12Context-20231019172933; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApplication12Context-20231019172933.mdf"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Asynchronous Processing=True;Multiple Active Result Sets=True"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString74" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Asynchronous Processing=True"
      providerName="System.Data.SqlClient" />
    <add name="rewtywertw" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Asynchronous Processing=True"
      providerName="System.Data.SqlClient" />
    <add name="hyreyere" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Asynchronous Processing=True"
      providerName="System.Data.SqlClient" />
    <add name="fsgsdgsd" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="daaa" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="localset" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="Microsoft.Data.SqlClient" />
    <add name="ranklistsql" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="Microsoft.Data.SqlClient" />
    <add name="GunzDBCo" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString2sd" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString243" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzwebConnectionString" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="SDWEB" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asdswww" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzweb" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="webdownload" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="webupdates" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzcustom1" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzwebConnectioncustom" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzwebConnectioncstm" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gunzwebConnectionString2" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=gunzweb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBDataDrop" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="ASAEFF" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="CharTB" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="Clanemblem" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="ClanCreator" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="ClanCrato21" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="GunzDBConnectionString28584" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="gunzitemad" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="status" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="tops" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="datasess" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Gunzclanprofile" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="6565656565656" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="clantab" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="itemdb" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="itemlistesdb" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ItemDetails" connectionString="Data Source=jop\mssqlserver02;Initial Catalog=GunzDB;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="DropDownClan" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!"
      providerName="System.Data.SqlClient" />
    <add name="CharMY" connectionString="Data Source=JOP\MSSQLSERVER02;Initial Catalog=GunzDB;Persist Security Info=True;User ID=sa;Password=Asdasd12!;Encrypt=False"
      providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
  
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ChartImageHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <httpRedirect enabled="false" />
    
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>